@font-face {
    font-family: myFirstFont;
    src: url('linotex3.ttf');
}
.score {
    padding-top: 0px;
    background-color: #180f10;
    box-shadow: 2px 2px 2px #888888;
    vertical-align: middle;
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    height: fit-content;
    border-radius: 5px;
    left: 43%;
    width: 15%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}